<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Runners</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>All Runners</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Average Pace</th>
            <th>Age</th>
            <th>Shoe</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="runnerEntry, shoeName : ${runners}">
            <tr>
            <td th:text="${runnerEntry.key.runnerId}"></td>
            <td th:text="${runnerEntry.key.runnerName}"></td>
            <td th:text="${runnerEntry.key.averagePace}"></td>
            <td th:text="${runnerEntry.key.age}"></td>
            <td th:text="${runnerEntry.value}"></td>
            <td>
                <a th:href="@{/runner/{id}(id=${runnerEntry.key.runnerId})}" class="btn btn-primary">View</a>
            </td>
            </tr>
        </th:block>
<!--         <tr>
            <td th:text="${runner.key.runnerId}"></td>
            <td th:text="${runner.key.runnerName}"></td>
            <td th:text="${runner.key.averagePace}"></td>
            <td th:text="${runner.key.age}"></td>
            <td th:text="${shoeName}"></td>
            <td>
                <a th:href="@{/runner/{id}(id=${runner.runnerId})}" class="btn btn-primary">View</a>
            </td>
        </tr> -->
        </tbody>
    </table>
    <h3>Average age of the runners: <b th:text="${averageAge}"></b> years</h3>
</div>
</body>
</html>
